@model Principle4.DryLogic.Demos.Web.Models.EmployeeViewModel
@using Principle4.DryLogic

@{
  ViewBag.Title = "Create Employee";
}

<h2>Create Employee</h2>


@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)


    <!--This sample requires the experimental BOVModelMetadataProvider and BOVModelBinder (assigned in Global.asax)-->
    @Html.EditorFor(model => model.MyEmployee.FirstName)
    @Html.EditorFor(model => model.MyEmployee.MiddleName)
    @Html.EditorFor(model => model.MyEmployee.LastName)
    @Html.EditorFor(model => model.MyEmployee.HireDate)
    @Html.EditorFor(model => model.MyEmployee.TerminationDate)
    @Html.EditorFor(model => model.MyEmployee.BirthDate)
    @Html.EditorFor(model => model.MyEmployee.IsPresident)
    @Html.TextBoxFor(model => model.MyEmployee.Score)
    @Html.DropDownListFor(
      model => model.MyEmployee.Score,
        new SelectList(
          new List<Object>
            {
              new { value = 0 , text = "Red"  },
              new { value = 1 , text = "Blue" },
              new { value = 2 , text = "Green"}
            },
            "value",
            "text",
            Model.MyEmployee.Score
            )
           )

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Create" class="btn btn-default" />
        </div>
      </div>
</div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
